/*things to hide*/
#rightColumn, #prevNextResultNavigator, .prevNextHeader, #bestBetsAnyComponent, #NoveListToggleWrapper, .itemMediaIcon, .addtlActions, .addthis_toolbox, #genericLinkImage, #articlesPreviewAnyComponent, .pipeDivider, #googleBookPreviewAnyComponent, .ratingReviewsSummary, #directLinkImage, .pageWrapperPush, .myAccountBar, #bookCartLinkAnyComponent, h2.facetHeader, #searchFormComponent_0, #relatedSearchesTitle, #authoritySuggestionColumn, #expandTagCloudColumn, #otherSourcesAnyComponent_0, .itemsContainerPopUpTrigger, .catalogPreview, #returnToSearchResultsLinkComponent, .otherSourcesWrapper, #moreResourcesLinkComponent, .portfolioImage, .recordDetailPage .bibInfoHeader{
  display: none !important;
}


/*new styles*/
*, *:before, *:after{
  box-sizing: border-box !important;
}

*{
  box-shadow: none !important;
}

html{
  height: auto !important;
}

body{
  padding-top: 0 !important;
  background-color: #fff !important;
  font: 400 16px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: #706259 !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: inherit !important;
}

.customLink, a{
  color: #00747F !important;
}

.customHeader, .customRecordDetailPage .customHeader.customToggle, .customRecordDetailPage .customHeader.customToggle:hover{
  color: #706259 !important;
}

#advancedSearchTitle,{
  font-family: inherit !important;
}

#contentWrapper, #homepageContentWrapper{
  position: static !important;
  width: 100% !important;
  box-shadow: none !important;
  margin: auto !important;
}

.customHighlight{
  background-color: transparent !important;
    border-bottom: 0;
  box-shadow: none;
  color: inherit !important;
}


.button{
  background-image: none !important;
  background-color: #00747F !important;
  border-radius: 0 !important;
  border: 0 !important;
  padding: .875rem 1.75rem .9375rem !important;
  color: #fff !important;
  opacity: 1 !important;
  text-align: center;
}

.button img{
  display: none;
}

.button.primaryAction{
  font-weight: 400 !important;
}


/*top banner*/
#bannertop{
  position: static;
  top: 0;
  right: 1rem;
  float: none !important;
  max-width: 68.75rem;
  width: 100% !important;
  margin: 0  auto .6rem !important;
  height: 36px;
  line-height: 36px !important;
  padding: 0 !important;
  background-color: transparent;
  overflow: hidden;
  z-index: 1000;
}


#bannertop a{
  display: inline-block;
  margin-left: 1rem;
  font-size: .8rem;
  color: #888;
}

#patronAlertsUpdateAnyComponent img{
  margin-top: 0 !important;
  vertical-align: middle !important;
}


/*search box*/
#searchbox{
  width: 100% !important;
  max-width: 68.75rem;
  float: none !important;
  margin: 0 auto 24px auto !important;
  padding-bottom: 1rem;
}

#searchbox > form{
  position: relative;
  display: block !important;
  margin: auto !important;
  border-bottom: 1px solid #b2b2b2 !important;
  text-align: left !important;
}

.recordDetailPage #searchbox > form{
  width: 100% !important;
  max-width: 68.75rem;
 }

.searchContent{
  display: block !important;
  width: 100% !important;
}

.searchText{
  display: none !important;
}

#searchString{
  width: 80% !important;
  height: 42px;
  padding: 6px 6px 0 6px !important;
  background: transparent;
  border: 0 !important;
  outline: 0 !important;
  font-style: italic;
  font-family: inherit;
  color: #aaa;
}

.searchSubmit{
  position: absolute;
  top: 0;
  right: 0;
}

.advSearch{
  margin-top: 6px;
}


.backToPrevious{
  width: 100% !important;
  max-width: 68.75rem;
  height: 24px;
  margin: 1rem auto .5rem auto !important;
}

#backToResultsLinkComponent:before, #backDirectLinkComponent:before{
  content:"\2190";
}

#backToResultsImageAnyComponent{
  display:none;
}

.backToPrevious .innreachLink{
  background: none;
  margin-left: 2em;
  padding-right: 0 !important;
}

.backToPrevious .innreachLink:after{
  content:" \2192";
}

/*spelling suggestions*/

.spellingSuggestion{
  position: relative;
  top: -1.5rem;
  max-width: 68.75rem;
  margin: 0 auto 1rem auto !important;
}


/*search page*/
.homepageQueryContainer .contentCategories{
  display: none;
}

.homepageQuery{
  padding: 36px 0 !important;
  border: 0 !important;
}


/*search results*/
#mainContentArea{
  float: left !important;
  width: 80% !important;
}

.gridBrowseContent2:hover{
  box-shadow: none !important;
  border-left: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
}


/*record*/

.recordDetailPage #mainContentArea{
  width: 100% !important;
  border-top: 0 !important;
  margin-bottom: 0 !important;
}

#contentColumn{
  width: 100%;
  margin: 0 !important;
  background-color: #f7f6f5;
  overflow: hidden;
}

.gridBrowseContent2{
  padding: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 0 !important;
}

.recordDetailPage .gridBrowseContent2{
  position: relative;
  float: none !important;
  max-width: 68.75rem;
  margin: 0 auto !important;
  padding: 3rem 0 !important;
  background-color: #f7f6f5;
  overflow: hidden;
}

.gridBrowseContent2:hover{
  border-right: 0 !important;
  border-left: 0 !important;
  background-color: rgba(247, 246, 245, .5) !important;
}

.recordDetailPage .gridBrowseCol1{
  float: right;
  width: 20%;
  padding-top: .5rem;
}

.recordDetailPage .addtlInfo{
  top: 3rem;
}

.recordDetailPage .gridBrowseCol2{
  display: block !important;
  float: left;
  width: 70% !important;
  margin: 0 auto !important;
  padding: 1rem 0 !important;
  overflow: hidden;
}

.recordDetailPage .ItemsContainer, .recordDetailPage .moreDetailsAnyComponent{
  background: #fff;
}

.availableItemsSection, .allItemsSection, #bibInfoDetails, .externalResourceDetails tbody{
  display: block !important;
  width: 60% !important;
  max-width: 68.75rem;
  margin: auto;
  padding: 2rem 0;
  overflow: hidden;
}

.externalResourceDetails{
  width: 100%;
  background-color: #fff;
}

.recordDetailPage .bibInfoLabel, .ermMoreInfo .bibInfoLabel{
  font-size: .875rem;
}


.title{
  line-height: 1.4;
  font-size: 1.1875rem !important;
  font-family: inherit !important;
  font-weight: 400 !important;
  color: #00747F !important;
}

.recordDetailPage .title{
  font-size: 2rem !important;
}

.title .customSecondaryText{
  display: none;
}


.recordDetailPage .itemBookCover{
  width: 300px !important;
  padding-right: 2rem !important;
  text-align: right;
}

.recordDetailPage .itemBookCover img{
  display: none;
  width: 100%;
  height: auto;
  max-height: none !important;
}


.dpBibTitle{
  width: auto;
  padding: 0 !important;
}

.dpBibAuthor{
  font-style: italic;
  font-family: inherit !important;
  line-height: 1.4;
  font-size: 1rem;
}

.recordDetailPage .dpBibAuthor{
  font-size: 1.2rem;
}

.dpBibAuthor a{
  color: inherit !important;
}



.dpBibTitle .recordDetailValue{
  margin-top: 0;
}

.dpBibTitle .recordDetailValue > span{
  display: inline-block;
  color: #706259;
  line-height: 1.4;
}

.dpBibTitle .recordDetailValue > span:not(:last-child):after{
  content:", "
}

.availabilityMessage{
  padding: 0 !important;
}

.availabilitySummaryArea{
  margin-top: 1rem;
  font-size: 90% !important;
}

.dpBibHoldingStatement{
}


.itemsNotAvailable, .itemsAvailable{
  display: block;
  margin-top: 1.5em;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.4;
 }

 .itemsAvailable{
   color: #00A66E !important;
 }

 .itemsAvailable:before{
   content: " ";
   display: inline-block;
   height: .9rem;
   width: .9rem;
   margin-right: 3px;
   line-height: 1;
   background-color: #00A66E;
   border-radius: 50%;
 }

 .itemsNotAvailable{
   color: #D60073 !important;
 }

 .itemsNotAvailable:before{
   content: " ";
   display: inline-block;
   height: .9rem;
   width: .9rem;
   margin-right: 3px;
   line-height: 1;
   background-color: #D60073;
   border-radius: 50%;
 }

.gridBrowseCol2 .requestButton{

  margin-top: 1.4em;

}

.holdsMessage{
  font-style: italic;
  margin-top: 0 !important;
}


.itemTable{
  width: 100%;
  margin: auto;
}

.itemTable th{
  font-size: .875rem;
  font-weight: 400 !important;
  text-transform: uppercase;
}

.recordDetailPage .itemTable td{
  width: 18%;
  padding: 6px 0 !important;
  border-bottom: 1px solid #eee;
}

.recordDetailPage .itemTable td:nth-of-type(1){
  width: 28%;
}


.sectionHeader{
  display: none;
}

/*content categories*/
.contentCategories{
  padding-top: 0 !important;
}

#selectedCategory{
  top: 0 !important;
  padding: 1rem 1rem !important;
  border: 0 !important;
  background-color: #fff !important;
  font-family: inherit !important;
  font-weight: 400 !important;
  text-transform: uppercase;
}

.contentCategoryLink{
  top: 0 !important;
  margin-left: 0 !important;
  padding: 1rem !important;
  border: 0 !important;
  background-image: none !important;
  background-color: transparent !important;
  font-family: inherit !important;
  font-weight: 400 !important;
  text-transform: uppercase;
}


/*search results*/

.resultsSummary{
  border-top: 0 !important;
  border-bottom: 0 !important;
  margin: 2rem 0 .5rem 0;
}

.browseHeader{
  font-family: inherit !important;
}

.contentCategories, #searchResultsAnyComponent, #articlesResultsAnyComponent{
  max-width: 68.75rem;
  margin: auto !important;
}

.searchResult .ItemsContainer{
  width: 100% !important;
}

.resultsView{
  font-size: .875rem;
}

#leftColumn{
  background-color: transparent !important;
  width: 20% !important;
  margin: 1rem 0 !important;
  padding: 0 !important;
}

#currentRefinementWrapper{
  background: transparent !important;
  font-size: .875rem;
  margin: .5rem 0 2rem 0 !important;
  padding: 0 !important;
}

.currentRefinementHeader{
  margin: 4px 0 !important;
  padding: 0 !important;
  border-bottom: 0 !important;
  font-style: italic;
}

.facetGroupHeader{
  font-size: .6875rem;
  font-weight: 400 !important;
  text-transform: uppercase;
  letter-spacing: .3px
}

.customFacetHeader{
  color: inherit !important;
}

.toggleContent{
  font-size: .875rem;
}

.label{
  float: left !important;
  margin-right: 6px;
}

#innreachOtherSourcesHeader{
  font-size: .875rem !important;
  font-weight: 400 !important;
}

#publishDateFacet #yearRangeFormComponent{
  width: 100% !important;
  padding: 0 !important;
  border: 0 !important;
}

#dateLimitSubmit{
  text-transform: uppercase;
}

.searchResult .gridBrowseCol1{
  display: block !important;
  width: 30% !important;
  padding-top: 1rem;
}

.citationButtons{
  width: auto !important;
  text-align: right;
}

.articleButton:nth-of-type(2) > a{
  background-color: #b2b2b2 !important;
}
.searchResult{
  border-bottom: 1px solid #bfb0a7 !important;
  margin: 1em 0;
  clear: none !important;
  line-height: 1.3;
}

.gridBrowseCol2{
  width: 70% !important;
  max-width: none;
  margin-bottom: .5rem;
  padding: 1rem 1rem 2rem 1rem !important;
}

.itemBookCover{
  width: 152px !important;
  padding-right: 1.5rem !important;
}

.itemBookCover img{
  display: block;
  width: 100%;
  max-height: 200px !important;
}

.overdrive-sample-link{
  background-color: #b8b8b8 !important;
}

.overdrive-sample-link-text{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: table !important;
  margin: auto !important;
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.overdrive-sample-link-image{
  display: none !important;
}

.availabilityMessage, .holdsMessage{
  font-size: .875rem;
}

.itemsAvailable, .itemsNotAvailable{
  font-size: 1rem !important;
}

.addtlInfo{
  position: absolute;
  top: 1.5rem;
  right: 0;
  max-width: 30%;
}


.addtlInfoItem{
  padding: .875rem 1.75rem .9375rem !important;
  background-color: #00747F !important;
  color: #fff !important;
  text-align: center;
}

.addtlInfo a img{
  display: none;
}

.overdive-hint{
  display: block;
  text-align: center;
}

.overdive-hint:after{
  content: "Read a sample";
}

.overdive-hint img{
  display: none !important;
}

/*no results*/
#spellSuggestNoResults, .tryAgainMessage{
  max-width: 68.75rem;
  margin: auto !important;
  border-bottom: 0 !important;
}

/*articles*/

.portfolioContents{
  border: 0 !important;
}

.portfolioHeader{
  background-color: transparent !important;
  border: 0 !important;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 0.6875rem;
}

portfolioName{
  font-weight: 400 !important;
  letter-spacing: 0.3px;
}

.currentResource{
  margin-bottom: .5rem;
  padding: .5rem !important;
  background: rgba(112, 98, 89, 0.0980392) !important;
}

.currentResource .resourceTitleArea .fedSearchResultReturnedCount{
  color: inherit !important;
}

.currentResource .resourceTitleArea{
  color: inherit !important;
}

.currentResource .articleRefinements, .currentResource .articleFacets{
  padding: 0 .5rem !important;
  background: transparent !important;
  border: 0 !important;
  font-size: .875rem;
}

.otherResource{
  border: 0 !important;
}

.resourceTitleArea{
  background-color: transparent !important;
  border: 0 !important;
  padding: 0 !important;
  font-size: .875rem;
}

.articlesPage #mainContentArea, .noResultsPage #mainContentArea{
  float: none !important;
  width: 100% !important;
  max-width: 68.75rem !important;
  margin: auto !important;
}

.articlesPage #leftColumn{
  display: none;
}

.new-nav{
  display: block !important;
}

.articlesResults{
  width: 80%;
  float: left;
}

#articlePortfoliosWrapper{
  margin: 0 !important;
}

.miniAbstract{
  margin-top: 1.2rem !important;
}

/*pager*/
.pagination1, .pagination2, .pagination1 .pagerLink, .pagination2 .pagerLink{
  font-size: 1rem !important;
}

/*account*/

.patronAccountPage #contentColumn{
  max-width: 68.75rem;
  margin: auto !important;
  background-color: #fff;
}
.accountSummary{
  border-top: 0 !important;
  border-bottom: 1px solid #bfb0a7 !important;
  overflow: hidden;
}

.accountFunctions{
  font-size: .875rem !important;
}

.currentAccountFunction{
  background-color: #826c5f !important;
  color: #fff;
}

 .accountFunctionsContentWrapper{
   float: left !important;
   width: 80% !important;
   margin-top: 0 !important;
   margin-left: 1.5rem;
 }

 .accountFunctionsContentTable .title{
   font-size: 1rem !important;
 }

/*footer*/
#homepageFooterArea, #footerArea, #bookcartFooterArea{
  width: 100% !important;
  padding-top: 2rem !important;
  background-color: #fff !important;
}

.footerContentContainer{
  max-width: 68.75rem;
  margin: .5rem auto !important;
  padding-top: .5rem;
  border-top: 0 !important;
  background-color: #fff !important;
}

.footerContent{
  border-top: 0 !important;
  padding: 0 !important;
}

.footerColumn4, #copyright{
  margin: 1rem 0 !important;
  border: 0 !important;
  line-height: 1;
}

.footerBrandingArea{
  display: none;
}

.footerBackToTopLink{
  display: block;
  position: static !important;
  max-width: 68.75rem;
  margin: auto;
  padding: 0 !important;
  background: none !important;
}

.footerBackToTopLink:before{
  content: '\2191';
}

.recentlyViewedItems li, .recentSearches li{
  padding: 0 0 .5rem;
  line-height: 1.4;
}
